@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:wght@700&display=swap');

* {
    border-sizing: border-box;
}

:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
}

@media (max-width: 61.25em)
html {
    font-size: 58%;
}
@media (max-width: 75em)
html {
    font-size: 60%;
}

body, html {
  height: 100%;
}

body {
    background: gray;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 1.8rem;
    margin: 0; 
    max-width: 100%;
    overflow-x: hidden;
}

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-red);
    box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
    z-index: 10;
}

ul {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

  .nav-list {
    display: flex;
    margin-right: 2rem;
}

.nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
}
a {
    text-decoration: none;
    color: var(--main-white);
}

:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
}
@media (max-width: 61.25em)
html {
    font-size: 58%;
}
@media (max-width: 75em)
html {
    font-size: 60%;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
*, *::before, *::after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
}
user agent stylesheet
html {
    display: block;
}
*, *::before, *::after {
    box-sizing: inherit;
}
*, *::before, *::after {
    box-sizing: inherit;
}

#welcome-section {
    background-image: url('https://images.unsplash.com/photo-1520085601670-ee14aa5fa3e8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGNvZGluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 100vh;
    position:  relative;
}


h1 {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #000080;
  font-size: 6rem;
  margin-top: 0;
  margin-bottom: 0;  
}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0;
}

.welcome-section > p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: var(--main-red);
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


*, *::before, *::after {
    box-sizing: inherit;
}

@media (max-width: 30.625em)
.projects-section {
    padding: 6rem 1rem;
}

.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}

img {
    display: block;
}

.projects-section {
    text-align: center;
}

*, *::before, *::after {
    box-sizing: inherit;
}
* {
    margin: 0;
}

project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
}

@media (max-width: 30.625em)
.projects-grid {
    grid-template-columns: 1fr;
}

*, *::before, *::after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
}
user agent stylesheet
div {
    display: block;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

section {
    display: block;
}

h2 {
    font-size: 4.2rem;
}
h1, h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
}
*, *::before, *::after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: var(--main-white);
}
user agent stylesheet
a:-webkit-any-link {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--main-white);
}

.code {
    color: var(--main-gray);
    transition: color 0.3s ease-out;
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: var(--main-gray);
    z-index: 1;
}

.contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
    z-index: 1;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}
a {
    text-decoration: none;
    color: var(--main-white);
}

footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: var(--main-gray);
    border-top: 4px solid var(--main-red);
}

#footer {
     position: fixed;
     padding: 10px 60px 10px 10px;
     bottom: 0;
     width: 100%; 
     height: 40px;
}

footer .fa-heart {
    color: red;
}